@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, and Opera


/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* In your global CSS file */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbars in Chrome, Safari, and Opera */
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* Hide scrollbars in IE and Edge */
    scrollbar-width: none;  /* Hide scrollbars in Firefox */
  }
